<html>
    <head>
        <title> cubicBestbuy </title>
        
    </head>    
    <body>
        <div id = 'container'>
            <div id = 'header'> 
                <h1>Cubic Best Buy </h1>
            </div>
            <div id = 'content'>
                <div id = 'nav'>
                    <h3> Navigation </h3>
                    <ul>
                        <li><a href=''> Home </a> </li>
                        <li><a href=''> About </a> </li>
                        <li><a href=''> contact </a> </li>
                    </ul>
                    </div>
                <div id = 'main'>
                    <h2> Home page </h2>
                    <p> Each week we uncover the most interesting and informative articles around, here are 10 of the coolest stories in Science this week.
                    </p>
                    <p>Cute and cuddly: A young panda was caught on camera having a ball,
                    rolling around in the grass at the Gengda Wolong Panda Center in China.</p>
                </div>
            </div>
            <div id = 'footer'>
                copyright &copy; 2016 prajay shakya
            </div>
        </div>
        
    </body>
    <link rel="stylesheet" href='/assignment/shoppingcart/css/style.css'>
</html>