<! doctype html>
<html>
    
    <title> Cubic Best Buy</title>
    <link rel="stylesheet" href="/assignment/shoppingcart/css/style.css">
    <body>
        
            <div>
            <div class = "style" > 
                
                <h3 align="center">Cubic Best Buy</h3>  
            </div>
            <div align = 'right'>
                <form name = " " method = "post">
                <table border>    
                <div class = 'row'>
                    <div class = "col-md-2"> email id:
                    <input type = 'text' name='email' id = "email_id" placeholder='email'></div>
                    <span id = 'email_span' > </span>
                </div>
                <div class = 'row'>
                    <div class = "col-md-2"> Password:
                    <input type = 'password' name='p_name' id = "password_id" placeholder='password'></div>
                    <span id = 'password_span'> </span>
                </div>    
                </table>
                    <div align=''>
                    <button type ="button" id="login_id" onclick = 'login(event)'> login </button>
                    </div>    
                </form>
              
            </div>
            </div> 
        <div>
        <input type = "image" src = "/assignment/shoppingcart/stack/image/shoppingcart.gif" height="480" width='460'>
            <div>
            </div>
        </div>
    
    </body>
    <script type="text/javascript" src="/assignment/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/assignment/shoppingcart/js/login.js"></script>
    
</html>