<!doctype html>
<html>
	<head>
		<title>Learning Directives</title>
        <style>
            label{
                cursor:pointer;
            }
        
        </style>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	</head>
    <!--Declaring angular application-->
	<body ng-app="appName">
        <h7>Hello World</h7>
        <person-form></person-form>
        <person-table></person-table>


        
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/controllers/appCtrl.js"></script>
        <script type="text/javascript" src="/js/directives/personForm.js"></script>
        <script type="text/javascript" src="/js/directives/personTable.js"></script>
        <script type="text/javascript" src="/js/directives/firstDirective.js"></script>
        <script type="text/javascript" src="/js/controllers/personCtrl.js"></script>
        <script type="text/javascript" src="/js/services/personService.js"></script>
        <script type="text/javascript" src="/js/services/personFactory.js"></script>
	</body>
</html>