<div class = "calc">
                <span>
                    Enter firstNum: <input type='text' ng-model="firstNum">{{ firstNum }}
                </span>
                <span>
                    <br>
                     Enter secondNum: <input type='text' ng-model="SecondNum"> {{ SecondNum }}
                </span>
                
                <div><button ng-click="submit()"> calculate </button></div>
                
                <br>The sum is : {{ add }}
                <br>The miultiplication is: {{ multiply }}
                <br>The division is:   {{ divide }}
                
               
               
            </div>