<!doctype html>
<html ng-app="unitTest">
    <head>
        <title> unit test sample</title>
    </head>
    <body>
        <div ng-controller="unitTestCtrl">
            <sample-dir> </sample-dir> <!--element-->
            <div sample-dir></div> <!--Attribute--->
            <h1> {{ title }} </h1>
            <hr>
            
            <h3> calculator Yo! </h3>
            <div> <cal-dir></cal-dir> </div>
            
        </div>
    </body>
        <script type = "text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type = "text/javascript" src="/scripts/module.js"></script>
        <script type = "text/javascript" src="/scripts/controller/unitTestCtrl.js"></script>
        <script type = "text/javascript" src="/scripts/directive/sampleDirective.js"></script>
        <script type = "text/javascript" src="/scripts/directive/calDir.js"></script>
</html>